@import "tailwindcss";


.hero-nav-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
    background-size: cover;
    background-position: center;
    background-image: url('/src/assets/hero.jpg');
    blend-mode: multiply;
}
